# ==============================
# ENTORNOS VIRTUALES DE PYTHON
# ==============================
.venv/
venv/
env/
ENV/
.vnv/

# ==============================
# CACHE DE PYTHON
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# VARIABLES Y CONFIGURACION LOCAL
# ==============================
.env
.env.*
*.env

# ==============================
# PYTEST / COVERAGE
# ==============================
.pytest_cache/
.coverage
htmlcov/

# ==============================
# MYPY
# ==============================
.mypy_cache/

# ==============================
# JUPYTER
# ==============================
.ipynb_checkpoints/

# ==============================
# VS CODE
# ==============================
.vscode/

# ==============================
# PYCHARM
# ==============================
.idea/

# ==============================
# ARCHIVOS TEMPORALES
# ==============================
*.tmp
*.temp
*.log
*.bak

# ==============================
# WINDOWS
# ==============================
Thumbs.db
Desktop.ini

# ==============================
# MAC
# ==============================
.DS_Store